<persistence-unit name="CadastroPessoasPU" transaction-type="JTA">
    <jta-data-source>java:/PostgresDS</jta-data-source>
    <class>entidades.Pessoa</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
</persistence-unit>